/* Always on top, sticky + modern gradient */
.header {
  background: linear-gradient(90deg, #4f46e5, #8b5cf6);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease;
}

.header .nav-link {
  font-weight: 500;
  transition: color 0.3s;
  color: #3063db;
}

.header .nav-link:hover {
  color: #facc15; /* yellow hover */
  
}

body {
  padding-top: 70px; /* push content down so header doesn’t overlap */
}


.nav-item{
  padding-right: 32px;
}

.navbar-brand{
    color: #3063db  !important;
}